.header-bg {
    border-bottom: 5px solid #252525;
    width: 100%;
    height: auto;
}

@media (max-width: 370px) {
    .new-video-btn {
        padding: 20px 12px
    }
    .logo {
        font-size: 1.2rem;
    }
}